@charset "UTF8";

main{
    text-decoration: none;
    width:100%;
    background-color: #ebebeb;
    border-radius: 10px;
    height: auto;
}

main ol li a{
    text-decoration: none;
    color: black;
}
@media (max-width: 932px){
    main{
        width: 100%;
        margin-top: 101px;
    }
    main ol li{
        font-size: 16px;
    }
}