@charset "utf8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');



body{
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Roboto';
    font-size: auto;
}
header{
    position: sticky;
    top: 0;
    width: 100%;
    height: 200px;
    z-index: 2025;
}
.menu{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu-img img{
    height: 200px;
}
.menu-text{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.menu-text a{
    color: black;
    text-decoration: none;
    font-size: 40px;
    padding: 1.5rem 3.2rem;
    border-radius: 5px;
    transition: all .3s ease;
}

.menu-text a.actived{
    background-color: #134f8c;
    color: white;
}

.setcion{
    width: 100%;
    height: calc(100vh - 200px);
}

.wppbutton{
    position: fixed;
    bottom: 10px;
    right: 40px;    
}
.wppbutton a{
    display: block;
}
.wppbutton img{
    border-radius: 50%;
    width: 100px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
.wppbutton img:hover{
    transform: scale(1.1);
}
.rodape{
    position: relative;
    background-color: #043D88;
    color: white;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    bottom: 0;
    margin-top: 5px;
}
.rodape a{
    text-decoration: none;
    color: white;
}
.rodape-div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width:100%;
    margin: auto;
    align-items: start;
    padding: 10px 10px 0px 10px;
}
.rodape-div-1-coluna img{
    width: 200px;
}
.rodape-div-1-coluna{
    display: flex;
    flex-flow: column wrap;
    align-items: start;
}
.rodape-div-1-coluna-mapa{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.rodape-div-1-coluna-mapa img{
    width: 5em;
}
.rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4, .rodape-div-5{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.rodape-div-2-coluna{
    display: flex;
    flex-direction: row; 
    align-items: center;
}
.rodape-div-2-coluna-img img{
    padding-top: 2px;
    width: 3em;
}
.rodape-div-2-coluna-img{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.rodape-div-2-coluna-text{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: start;
}
.rodape-div-4-coluna-text{
    display: block;
    justify-content: start;
    text-align: start;
}
.rodape-div-5-coluna-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    transition: transform 0.3s ease;
    gap: 20px;
    padding-top: 20px;

}
.a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.rodape-div-5-coluna-text img{
    width: 100px;
}

.rodape span{
    font-size: 25px;
    color: white;
}
.rodape-direitos{
    width: calc(100% - 20px);
    background-color: #043D88;
    padding: 10px;
    margin: 0;
    text-align: center;
}

.dropdown img{
    display: none;
}   

@media (max-width: 932px){
    body{
        overflow-x: hidden;
    }
    main{
        margin-top: 100px;
    }
    .menu-img{
        display: none;
    }
    .menumobile img{
        height: 100px;
    }
      header{
        display: flex;
        justify-content: center;
        text-align: center;
        background-color: #043D88;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100px;
        border-radius: 0;
        z-index: 99;
    }
    .rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4, .rodape-div-5{
        width: 100%;
        height: fit-content;
    }
    .rodape-div-2-coluna-text{
        font-size: 17px;
    }
    .menu-text{
        display: none;
    }
    .dropdown img{
        background-color: #043D88;
        display: block;
        height: 100px;
    }
    .wppbutton{
        bottom: 40px;
    }
    .wppbutton img{
        width: 70px;
    }
}