@charset "utf8";

*{
    margin: 0;
    border: 0;
    padding: 0;
}
header{
    position: sticky;
    top: 0;
    width: 100%;
    height: 200px;
    background-color: white;
    z-index: 2025;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu-img img{
    height: 200px;
}
.menu-text{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.menu-text a{
    color: black;
    text-decoration: none;
    font-size: 40px;
    padding: 1.5rem 3.2rem;
    border-radius: 5px;
    transition: all .3s ease;
}
.menu-text a.actived{
    background-color: #134f8c;
    color: white;
}
.setcion{
    width: 100%;
    height: calc(100vh - 200px);
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 60px;
}
h1{
    background-color: #134f8c;
    color: white;
    text-shadow: 5px 5px 5px black;
    text-align: center;
    padding: 50px;
}
.rodape{
    position: relative;
    background-color: #134f8c;
    color: white;
    width: 100%;
    font-size: 14px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    bottom: 0;
    margin-top: 5px;
}
.rodape a{
    text-decoration: none;
    color: white;
}
.rodape p{
    margin-bottom: 5px;
}
.rodape-div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width:100%;
    margin: auto;
    align-items: center;
    padding: 10px 10px 0px 10px;
}
.rodape-div-1-coluna img{
    width: 200px;
}
.rodape-div-1-coluna{
    display: flex;
    flex-flow: column wrap;
    align-items: start;
}
.rodape-div-1-coluna-mapa{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.rodape-div-1-coluna-mapa img{
    width: 5em;
}
.rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4, .rodape-div-5{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.rodape-div-2-coluna{
    display: flex;
    flex-direction: row; 
    align-items: center;
}
.rodape-div-2-coluna-img img{
    padding-top: 2px;
    width: 3em;
}
.rodape-div-2-coluna-img{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.rodape-div-2-coluna-text{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-decoration: none;
}
.rodape-div-4-coluna-text a{
    width: 100%;
}
.rodape-div-5-coluna{
    padding-bottom: 60px;
}
.rodape span{
    font-size: 25px;
    color: white;
}
.rodape-direitos{
    width: calc(100% - 20px);
    background-color: #134f8c;
    padding: 10px;
    margin: 0;
    text-align: center;
}