<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/privace.css">
    <link rel="shortcut icon" href="../image/logo.png" type="image/x-icon">
    <title>Política de Privacidade</title>
</head>
<body>
    <header>
        <div class="menu">
            <div class="menu-img">
                <a href="../index.html"><img src="../image/logo.png" alt=""></a> 
            </div>
            <div class="menu-text">
                <a href="../index.html" class="actived js-link">Início</a>
                <a href="../index.html#produtos" class="js-link">Produtos</a>
                <a href="../index.html#eventos" class="js-link">Eventos</a>
                <a href="../index.html#historia" class="js-link">História</a>
            </div>
        </div>
    </header>
    <main>
        <div>
            <h1>Política de Privacidade</h1>
            <h3>Última atualização: <span id="currentDate"></span></h3>
            <script> 
                // Get the current date 
                const today = new Date(); 
                // Format the date as needed (e.g., MM/DD/YYYY) 
                const formattedDate = today.toLocaleDateString(); 
                // Display the date in the HTML 
                document.getElementById("currentDate").textContent = formattedDate; 
            </script>
        </div>
        <h2>A Mancha Azul valoriza a sua privacidade e está comprometida em proteger suas informações pessoais. Esta Política de Privacidade descreve como coletamos, usamos, armazenamos e protegemos suas informações quando você visita nosso site.</h2>
        <ol>
            <li>Informações que Coletamos
                <p>Quando você visita nosso site, podemos coletar as seguintes informações:</p>
                <ul>
                    <li>Informações de contato, como nome, e-mail e telefone, quando você preenche formulários de contato.</li>
                    <li>Dados de navegação, como endereço IP, tipo de navegador e páginas visitadas, para melhorar a experiência do usuário.</li>
                </ul>
            </li>
            <br>
            <li>Como Usamos suas Informações
                <p>As informações coletadas podem ser utilizadas para:</p>
                <ul>
                    <li>Responder a consultas e fornecer suporte.</li>
                    <li>Enviar informações sobre nossos serviços e atualizações.</li>
                    <li>Melhorar nosso site e personalizar a experiência do usuário.</li>
                </ul>
            </li>
            <br>
            <li>Compartilhamento de Informações
                <p>A Mancha Azul não vende, troca ou transfere suas informações pessoais para terceiros sem o seu consentimento, exceto quando necessário para cumprir a lei ou proteger nossos direitos.</p>
            </li>
            <li>Segurança das Informações
                <p>Implementamos medidas de segurança para proteger suas informações pessoais. No entanto, lembre-se de que nenhum método de transmissão pela Internet ou método de armazenamento eletrônico é 100% seguro.</p>
            </li>
            <li>Seus Direitos
                <p>Você tem o direito de acessar, corrigir ou excluir suas informações pessoais. Para exercer esses direitos, entre em contato conosco através do e-mail [<a href="mailto:manchaazul.goiatuba@gmail.com?subject=Alteração de Dados">Mancha Azul</a>].</p>
            </li>
            <li>Alterações a Esta Política
                <p>Podemos atualizar esta Política de Privacidade periodicamente. Recomendamos que você revise esta página regularmente para se manter informado sobre como estamos protegendo suas informações.</p>
            </li>
            <li>Contato
                <p>Se você tiver alguma dúvida sobre esta Política de Privacidade, entre em contato conosco:</p>
                <dt>Torcida Organizada Mancha Azul</dt>
                <dt><a href="https://api.whatsapp.com/send/?phone=5564993208616" target="_blank" rel="noopener noreferrer">(64) 99320 - 8616</a></dt>
                <dt><a href="mailto:manchaazul.goiatuba@gmail.com?subject=Política de Privacidade">Email</a></dt>
            </li>
        </ol>
    </main>
    <footer class="rodape" id="contato">
        <div class="rodape-div">
    
            <div class="rodape-div-1">
                <div class="rodape-div-1-coluna">
                    <a href="../index.html"><img src="../image/logo.png" alt=""></a>
                    <div class="rodape-div-1-coluna-mapa">
                        <!--<a href="https://www.google.com/maps/place/Ecomp+inform%C3%A1tica/@-18.0130822,-49.3624866,17z/data=!3m1!4b1!4m6!3m5!1s0x94a0f9812ed7218b:0x5a922b3c13ec77ca!8m2!3d-18.0130822!4d-49.3624866!16s%2Fg%2F11vc4mc4w0?entry=ttu&g_ep=EgoyMDI1MDMxMi4wIKXMDSoASAFQAw%3D%3D" target="_blank" rel="noopener noreferrer"><img src="image/icons/mapa.png" alt="" class="icons"></a>
                        <a href="https://www.google.com/maps/place/Ecomp+inform%C3%A1tica/@-18.0130822,-49.3624866,17z/data=!3m1!4b1!4m6!3m5!1s0x94a0f9812ed7218b:0x5a922b3c13ec77ca!8m2!3d-18.0130822!4d-49.3624866!16s%2Fg%2F11vc4mc4w0?entry=ttu&g_ep=EgoyMDI1MDMxMi4wIKXMDSoASAFQAw%3D%3D" target="_blank" rel="noopener noreferrer"><p>Av. Pres. Vargas, 935 - Centro, Goiatuba - GO, 75600-000</p></a>-->
                    </div>   
                </div>
            </div>
            
           <div class="rodape-div-2">
            <span><b>Contatos</b></span>
                <div class="rodape-div-2-coluna">
                    
                    <div class="rodape-div-2-coluna-img">
                        <a href="https://api.whatsapp.com/send/?phone=5564993208616" target="_blank" rel="noopener noreferrer"><img src="../image/icons/whatsapp.png" alt="WhatsApp" ></a>
                        <a href="https://www.instagram.com.br/manchaazul.goiatuba" target="_blank" rel="noopener noreferrer"><img src="../image/icons/instagram.png" alt="Instagram" ></a>
                    </div>
                    <div class="rodape-div-2-coluna-text">
                        <a href="https://api.whatsapp.com/send/?phone=5564993208616" target="_blank" rel="noopener noreferrer"><p>(64) 99320 - 8616</p></a>
                        <a href="https://www.instagram.com.br/manchaazul.goiatuba" target="_blank" rel="noopener noreferrer"><p>@manchaazul.goiatuba</p></a>
                    </div>
                </div>
            </div>
           

           <!-- <div class="rodape-div-3">
                <div class="rodape-div-3-coluna">
    
                    <span><b>Contatos</b></span>
                    <a href="" target="_blank" rel="noopener noreferrer"><p></p></a>
                </div>
            </div>-->


            <div class="rodape-div-4">
                <div class="rodape-div-4-coluna">
                    <span><b>Outros</b></span>
                    <div class="rodape-div-4-coluna-text">
                        <a href="../index.html#produtos"><p>Produtos</p></a>
                        <a href="../index.html#eventos"><p>Eventos</p></a>
                        <a href="privace.html"><p>Política de Privacidade</p></a>
                        <a href="../index.html#historia"><p>Quem Somos</p></a>
                    </div>      
                </div>
            </div>


            <div class="rodape-div-5">
                <div class="rodape-div-5-coluna">
                    <span><b>Patrocinadores</b></span>
                    <div class="rodape-div-5-coluna-text">
                        <div class="a">
                            <img src="../image/patrocinadores/ALVIN.png" alt="">
                            <img src="../image/patrocinadores/CRIAR COMUNICAÇÃO VISUAL.png" alt="">
                        </div>

                        <div class="a">
                            <img src="../image/patrocinadores/GRUPO CARPA.png" alt="">
                            <img src="../image/patrocinadores/UAI CONECTA AI.png" alt="">
                        </div>
                            
                            
                           
                    </div> 
                </div>
            </div>
        </div>
        <p class="rodape-direitos">Copyright © 2025 – Todos os Direitos Reservados <a href="https://instagram.com/designsvm_" target="_blank">@vmdesigns</a></p>
    </footer>
    <script src="scripts/scroll.js"></script>
</body>
</html>


